%h1 Listing points

%table
  %tr
    %th
    %th Title
    %th Description
    %th Link
    %th X
    %th Y
    %th
    %th
    %th

  - @points.each do |point|
    %tr
      %td
        = link_to (image_tag "icons/#{point.icon}.png", :height => 25), root_path(:anchor => point.id), :target => :blank
      %td= point.title
      %td= point.description
      %td= point.link
      %td= point.x
      %td= point.y
      %td= link_to 'Show', point
      %td= link_to 'Edit', edit_point_path(point)
      %td= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Point', new_point_path
